node_modules
dist
dist-ssr
*.local
coverage
.vite
*.tsbuildinfo
playwright-report
test-results
playwright/.cache

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.*
!.env.example
